<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        {{message}}
      </h1>
      <h2 class="subtitle">
        {{error.status}}
      </h2>
      <div class="content">
        <pre>{{error.stack}}</pre>
      </div>
    </div>
  </div>
</section>
