<section class="hero is-light">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Palindrome
      </h1>
      <div class="content columns">
        <div class="column is-one-third">
          <p>
            A palindrome is a word, phrase, number or sequence of words that reads the same backwards as forwards.
            Punctuation and spaces between the words or lettering is allowed, but only numbers and letters are considered
          </p>
        </div>
        <div class="column">
          <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
            <thead>
              <tr>
                <th>INPUT</th>
                <th>RESULT</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>aba</td>
                <td>is a palindrome</td>
              </tr>
              <tr>
                <td>macaco</td>
                <td>is not a palindrome</td>
              </tr>
              <tr>
                <td>a man a plan a canal panama</td>
                <td>is a palindrome</td>
              </tr>
              <tr>
                <td>socorram me subi no onibus em marrocos</td>
                <td>is a palindrome</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <h1 class="title">Tester</h1>
    <h2 class="subtitle">
      Find out if a string is a Palindrome
    </h2>
    <tester></tester>
  </div>
</section>
